TARGET_URL=https://dev.tradegenius.com/asset
WALLET_SEED_PHRASE=test test test test test test test test test test test test
WALLET_PASSWORD=TestPassword123!
METAMASK_EXTENSION_PATH=./extensions/metamask
HEADLESS=false
SLOW_MO=100
SCREENSHOT_ON_FAILURE=true
REPORT_DIR=./reports
